/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2014, 6:35:26 AM
    Author     : Ashley_Quintin
*/
*{
    margin: 0;
    padding: 0;
}

.wrap {
    width: 960px;
    margin: 0 auto;
}

#logo {
    width: 300px;
    float: left;
}

#bottomLogo {
    clear: left;
    width: 200px;
    float: left;
}

#socialMediaIcons {
    width: 350px;
    padding: 30px;
    display: block;
    float: right;
}

#homeDonateMenu {
    float: right;
    font-family: Adobe Calson Pro;
    color: #5a5b5d;
    font-weight: lighter;
    font-size: 16px;
}

#homeDonateMenu li{
    list-style: none;
    float: left;
    padding: 2px;
    border-right: medium solid #5a5b5d;
}

#homeDonateMenu li:last-child {
    border-right: none;
}


#menu {
    //float: left;
    //width: 100%;
    height: 30px;
    clear: both;
    font-family: Adobe Calson Pro;
    font-size: large;
    background: linear-gradient(#f7941e, #f26522);
}

#menu ul {
    width: 100%;
}

#menu li {
    list-style: none;
    color: white;
    /*border-right: 1px solid black;*/
    //width: 192px;
    width: 20%;
    height: 30px;
    padding: 5px 0px;
    text-align: center;
    float: left;
}

#menu li:last-child {
    border-right: none;
}

#menu li:hover {
    background: linear-gradient(#d97807, #ce4507);
}

#menu ul li a {
    color: white;
    text-decoration: none;
    margin: 0 auto;
}

#nav{
	position:relative;
	z-index:99999999;
	}	
#nav nav{
	float: right;
    width: auto;
}
#nav ul{
	margin:0;
	list-style:none;
	font-family: Adobe Calson Pro;
	}
#nav ul li{
	display:inline-block;
	float:left;
	margin:0;
	}
#nav ul li {
    color: white;
    float: left;
    font-size: large;
    background: linear-gradient(#f7941e, #f26522);
}

#nav ul li.active, #nav ul li:hover{
	color:#fff;
	background: linear-gradient(#d97807, #ce4507);
}
	
#nav select {
    display: none;
    height: 28px;
    line-height: 28px;
    padding: 4px;
	margin-top:22px;
	float:left;
    width: 100%;
}

.mainContent {
    clear: left;
    float: left;
    width: 620px;
}

.mainContent img {
    width: 620px;
}

.sidebar {
    float: right;
    width: 300px;
}

.sidebar img {
    width: 300px;
    clear: both;
}

#footerBar {
    /*width: 960px;*/
    //height: 30px;
    background: linear-gradient(#f7941e, #f26522);
}

#footerBar li {
    height: 30px;
    line-height: 30px;
   // padding: 5px 0px;
    color: white;
    list-style: none;
    font-family: Adobe Calson Pro;
    font-size: large;
    text-align: center;
}

.footerLinkColumn {
    color: #5a5b5d;
    font-family: Adobe Calson Pro;
    font-weight: lighter;
   /* width: 240px;*/
    /*float: left;*/
}

.mainMenuOption {
    color: #f26522;
    font-family: Adobe Calson Pro;
    font-weight: lighter;
}